body {
    background: #ffffff;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.container h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
p {
    text-align: center;
}
.col-md-6 h2 {
    font-weight: bold;
    text-align: center;
}
.col-md-6 p {
    text-align: center;
}
.col-md-4 p {
    text-align: center;
}

.navbar {
    margin-bottom: 0;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

.page-header h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center
}
.page-header p{
    font-size: 20px;
    text-align: center
}
