.col-md-3 {
	height: 340px;
	margin: 0px;
}

.col-md-4 {
	/*height: 340px;*/
	padding-top: 0px;
	padding-bottom: 0px;
	
	vertical-align: middle;
}
.col-md-8 {
	height: 340px;
	padding-top: 20px;
	padding-bottom: 0px;
	
	vertical-align: middle;
}

a {
	color: black;
}

.venue-description {
	font-size: 16px;
}

.overlay {
  position: absolute;
  top: 72%;
  bottom: 0;
  left: 43px;
  right: 0;
  height: 20%;
  width: 70%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.thumbnail-container:hover .overlay {
  opacity: .7;
}

.text {
	color: black;
	font-size: 15px;
	text-align: left;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

