{% extends "base.html" %}
{% set css_name = "css/about.css" %}
{% block content %}

    <!-- DESCRIPTION -->
    <div class="page-header">
      <h1>Culture. Just a click away.</h1>
      <p>Here at Museumary (a working title), we are dedicated to building and maintaining an internet database of art.<br>Familiarize yourself with art from around the world. Our database gives you access to a large assortment of artistic pieces.<br> Feel free to browse our collection.</p>
      <br>
    </div>   
    <!-- TEAM -->
    <div class="container">
      <h1><strong>Members of Team<br>Museumary</strong></h1>
      <div class="row">
        <!-- Kenny Le -->
        <div class="col-md-6">
          <h2>Kenny Le</h2>
          <img src="../static/images/kenny_profile.jpg" class="img-rounded" alt="Kenny" width="256" height="256">
          <p>Hello, Kenny here! I am a Computer Science major at UT and I am graduating this year. I really appreciate the group leader.</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>
        </div>
        <!-- Josh Morris -->
        <div class="col-md-6">
          <h2>Josh Morris</h2>
          <img src="../static/images/josh_profile.jpg" class="img-rounded" alt="Josh" width="256" height="256">
          <p>4th year Computer Science major at the University of Texas at Austin. I enjoy Mexican food, being active, and playing Rocket League.</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>        
        </div>
      </div>
      <div class="row">
        <!-- Kelly Nguyen -->
        <div class="col-md-6">
          <h2>Kelly Nguyen</h2>
          <img src="../static/images/kelly_profile.jpg" class="img-rounded" alt="Kelly" width="256" height="256">
          <p>3rd year Computer Science major at UT. I am 20 years old and I have 3 cats. There names are Poncho, Magpie, Pigeon.</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>
        </div>
        <!-- Trenton Strahan -->
        <div class="col-md-6">
          <h2>Trenton Strahan</h2>
          <img src="../static/images/trenton_profile.jpg" class="img-rounded" alt="Trenton" width="256" height="256">
          <p>A 4th year Computer Science major at UT with a minor in RTF. Very excited for Software Engineering this semester. Big sports fan. Houston sports for life!</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>        
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <!-- Max West -->
        <div class="col-md-6">
          <h2>Max West</h2>
          <img src="../static/images/max_profile.jpg" class="img-rounded" alt="Max" width="256" height="256">
          <p>Avatar is my favorite movie. This is my 4th year as a Computer Science major at UT. After graduation I am moving to Seattle to work for Amazon.</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>        
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <!-- STATS -->
    <div class="page-header"></div>
    <div class="container">
      <h1>Stats</h1>
      <div class="row">
        <p><strong>Total No. of Commits:</strong>  "insert here"<br><strong>Total No. of Issues:</strong> "insert here"<br><strong>Total No. of Tests:</strong> "insert here"</p>
        <p><a href="http://docs.museumary.apiary.io/#"><strong>Apiary API</strong></a>
          <br>
          <a href="https://github.com/museumary/Museumary"><strong>GitHub Repo</strong></a>
          <br>
          <a href="https://trello.com/b/XcqwPcmE/project-2-idb"><strong>Trello</strong></a>
        </p>
      </div>
    </div>
{% endblock %}