{% extends "base.html" %}
{% set css_name = "css/about.css" %}
{% block content %}

    <div class = "results"></div>
    <script>
      // var iframe = document.createElement('iframe');
      // iframe.id = 'iframe';
      // iframe.style.display = 'none';
      // document.body.appendChild(iframe);
      // iframe.src = '/static/JSONs/artists.json';
      // var json;
      // setTimeout(function(){
      //   var text = document.getElementById('iframe').contentDocument.body.firstChild.innerHTML;
      //   json = JSON.parse(text);
      //   var i = "<br>";
      //   for (var key in json) {
      //     var val = json[key];
      //     for(var key2 in val) {
      //       i += val[key2].name + "<br><br>";
      //     }
      //   }
      //   document.querySelector('.results').innerHTML = i;
      // }, 1000);
      var result = "";
      var parameters = location.search.substring(1);
      console.log(parameters);

      var temp = parameters.split("=");
      console.log(temp);
      name = decodeURI(temp[1]);
      console.log(name);
      result = "<h1>" + name + "</h1>";

      var iframe = document.createElement('iframe');
      iframe.id = 'iframe';
      iframe.style.display = 'none';
      document.body.appendChild(iframe);
      iframe.src = 'static/JSONs/artists.json';

      var iframe2 = document.createElement('iframe');
      iframe2.id = 'iframe2';
      iframe2.style.display = 'none';
      document.body.appendChild(iframe2);
      iframe2.src = 'static/JSONs/works.json';

      var json;
      var json2;

      setTimeout(function() {
        var text = document.getElementById('iframe').contentDocument.body.firstChild.innerHTML;
        json = JSON.parse(text);

        var works = document.getElementById('iframe2').contentDocument.body.firstChild.innerHTML;
        json2 = JSON.parse(works);

        console.log(text);
        console.log(works);
        for (var key in json) {
          var val = json[key];
          for(var key2 in val) {
            var obj = val[key2];
            if(obj.name === name) {
              if(obj.death === "null") {
                result += "born " + obj.birth + " (" + obj.birthplace + ")<br>";
              }
              else {
                result += "born " + obj.birth + " (" + obj.birthplace + ")<br>";
                result += "died " + obj.death + " (" + obj.deathplace + ")<br>";
              }
              
              result += "<img src=" + obj.primaryimageurl + "><br><br>";
            }
          }
        }
        console.log(result);
        document.querySelector('.results').innerHTML = result;
      }, 500);
    </script>

{% endblock %}
