<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Art Museum Database</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">
  </head>
  <!-- 
    ABOUT PAGE
   -->
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html#">Museumary</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="artists.html#">Artists</a></li>
            <li><a href="works.html#">Works</a></li>
            <li><a href="venues.html#">Venues</a></li>
            <li><a href="art_forms.html#">Art Forms</a></li>
            <li><a href="about.html#">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- DESCRIPTION -->
    <div class="page-header">
      <h1>Culture. Just a click away.</h1>
      <p>Here at Museumary (a working title), we are dedicated to building and maintaining an internet database of art.<br>Familiarize yourself with art from around the world. Our database gives you access to a large assortment of artistic pieces.<br> Feel free to browse our collection.</p>
      <br>
    </div>   
    <!-- TEAM -->
    <div class="container">
      <h1><strong>Members of Team<br>Museumary</strong></h1>
      <div class="row">
        <!-- Kenny Le -->
        <div class="col-md-6">
          <h2>Kenny Le</h2>
          <img src="images/user_photo.png" alt="sample" width="256" height="256">
          <p>Computer Science major at UT</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>
        </div>
        <!-- Josh Morris -->
        <div class="col-md-6">
          <h2>Josh Morris</h2>
          <img src="images/user_photo.png" alt="sample" width="256" height="256">
          <p>Computer Science major at UT</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>        
        </div>
      </div>
      <div class="row">
        <!-- Kelly Nguyen -->
        <div class="col-md-6">
          <h2>Kelly Nguyen</h2>
          <img src="images/user_photo.png" alt="sample" width="256" height="256">
          <p>Computer Science major at UT</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>
        </div>
        <!-- Trenton Strahan -->
        <div class="col-md-6">
          <h2>Trenton Strahan</h2>
          <img src="images/user_photo.png" alt="sample" width="256" height="256">
          <p>Computer Science major at UT</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>        
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <!-- Max West -->
        <div class="col-md-6">
          <h2>Max West</h2>
          <img src="images/user_photo.png" alt="sample" width="256" height="256">
          <p>Computer Science major at UT</p>
          <p><strong>Responsibility:</strong> "insert here"</p>
          <p><strong>No. of Commits:</strong>  "insert here"<br><strong>No. of Issues:</strong> "insert here"<br><strong>No. of Tests:</strong> "insert here"</p>        
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <!-- STATS -->
    <div class="page-header"></div>
    <div class="container">
      <h1>Stats</h1>
      <div class="row">
        <p><strong>Total No. of Commits:</strong>  "insert here"<br><strong>Total No. of Issues:</strong> "insert here"<br><strong>Total No. of Tests:</strong> "insert here"</p>
        <p><a href="http://docs.museumary.apiary.io/#"><strong>Apiary API</strong></a>
          <br>
          <a href="https://github.com/museumary/Museumary"><strong>GitHub Repo</strong></a>
          <br>
          <a href="https://trello.com/b/XcqwPcmE/project-2-idb"><strong>Trello</strong></a>
        </p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>